.sp {
    padding: 0 15px;
    h4 {
        font-size: 1.125em;
        border-bottom: 3px solid $color-hr;
        margin: 1em 0;
        padding: .3em 0;
    }
    p {
        &.important {
            font-size: 1.875em;
            line-height: 1.5;
            span {
                color: $secondaryColor;
                position: relative;
                &:after {
                    position: absolute;
                    width: 100%;
                    bottom: -2px;
                    height: 3px;
                    left: 0;
                    content: "";
                    background: $secondaryColor;
                }
            }
        }
    }
    .step {
        //padding: 0 15px;
        ol {
            overflow: hidden;
            list-style: none;
            padding: 0;
            counter-reset: num;
            border-radius: .3em;
            background: $color-gradient-gray;
            border: 1px solid #dfdfdf;
        }
        li {
            position: relative;
            width: 25%;
            float: left;
            min-height: 3em;
            font-size: 1.25em;
            font-weight: bold;
            padding: .6em .6em .6em 45px;
            color: #7c7c7c;
            box-sizing: border-box;
            // border-top: 1px solid #dfdfdf;
            // border-bottom: 1px solid #dfdfdf;
            background: transparent;
            @include screen('mobile') {
                display: none;
            }
            .num {
                position: absolute;
                top: 9px;
                left: 10px;
                text-align: left;
                width: 30px;
                &:after {
                    content: ".";
                }
            }
            // &:first-child {
            //     border-radius: 4px 0 0 4px;
            //     border-left: 1px solid #dfdfdf;
            // }
            // &:last-child {
            //     border-radius: 0 4px 4px 0;
            //     border-right: 1px solid #dfdfdf;
            // }
            &.this_step {
                background: $secondaryColor;
                color: #fff;
                border-color: $secondaryColor;
            }
            &.now {
                @include screen('mobile') {
                    display: block;
                    float: none;
                    width: 100%;
                }
            }
        }
    }
    &.completed {
        .step {
            ol {
                background: $secondaryColor;
            }
        }
    }
    .notice {
        padding: .5em 1.5em;
    }
}
.form_content_inline {
    display: inline-block;
    padding: 0 .5em;
}
form {
    &.has_counter {
        font-family: 'Century Gothic';
        counter-reset: num;
        .form_grid,
        .form_bottom {
            position: relative;
            padding-left: 140px;
            margin: 2em 0 1em 0;
            @include screen('mobile') {
                padding-left: 0;
                //margin-top: 100px;
            }
        }
        .form_grp {
            padding: .2em 0;
            font-size: .938em;
        }
        @at-root.shadow_grp {
            box-shadow: 0px 2px 12px -3px rgba(0, 0, 0, .3);
            border-radius: .3em;
            padding-bottom: 1.5em;
            padding: .5em;
            padding-bottom: 1em;
            position: relative;
            &>h3 {
                margin-left: .5em;
            }
            .fixed_btn {
                position: absolute;
                background: $secondaryColor;
                display: block;
                color: #FFF;
                width: 120px;
                padding: .5em 1em;
                right: 1.5em;
                top: .5em;
                transition: .3s ease-out;
                z-index: 2;
                &:hover, &:focus {
                    background: darken($secondaryColor, 15)
                }
            }
        }
        .form_grid {
            border-radius: .5em;
            &:before {
                content: "";
                position: absolute;
                top: 30px;
                left: 0;
                width: 50px;
                font-size: 4em;
                color: $secondaryColor;
                font-weight: bold;
                counter-increment: num;
                content: counters(num, ".", decimal-leading-zero);
                @include screen('mobile') {
                    position: static;
                }
            }
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 85px;
                width: 1px;
                height: 100px;
                background: $color-hr;
                transform: rotate(30deg);
                @include screen('mobile') {
                    display: none;
                }
            }
        }
        .form_bottom {
            margin-top: 1em;
            .check_grp {
                font-size: .875em;
                padding: 1em 0 1em 4em;
                @include screen('xs_mobile') {
                    padding-left: 0;
                }
            }
        }
        .form_title {
            width: 18%;
            padding-right: 20px;
            @include screen('tablet') {
                width: 25%;
                padding-right: 10px;
            }
            @include screen('mobile') {
                width: 100%;
            }
        }
    }
    input {
        max-width: 390px;
        @include screen('mobile') {
            max-width: 100%;
        }
        &.short {
            max-width: 80px;
        }
    }
    input[type="text"]+.btn {
        margin-top: 0;
        vertical-align: middle;
    }
    h3 {
        font-size: 1.375em;
        color: $primaryColor;
        padding: 1em 1em .5em;
        margin: .5em 0;
        position: relative;
        font-size: 1.65em;
        background: inherit;
        color: $secondaryColor;
        padding: 0;
        margin-bottom: 1em;
        // &:after {
        //     position: absolute;
        //     bottom: 0;
        //     left: 1%;
        //     width: 98%;
        //     height: 2px;
        //     content: "";
        //     background: $color-gradient;
        // }
    }
    .form_grp_wrap {
        position: relative;
        padding: .5em 0;
        @include screen('mobile') {
            padding: 1em .5em;
        }
        h3 {
            font-size: 1.65em;
            background: inherit;
            color: $secondaryColor;
            padding: 0;
            margin-bottom: 1em;
        }
        p {
            padding-left: 1.7em;
        }
        .upload_grp {
            max-width: 350px;
        }
        .apply_wrap {
            position: relative;
            margin: 0 1em;
            @include screen('mobile') {
                margin: 0 .5em;
            }
            &:last-child {
                margin-bottom: 1em;
            }
            h4 {
                background: #eeeeee;
                position: relative;
                margin: .5em 0 0;
                padding: 0;
                border: 0;
                span {
                    display: inline-block;
                    margin-left: .2em;
                    margin-right: .2em;
                    font-size: 1.25em;
                }
                a {
                    color: $color-dark;
                    display: block;
                    padding: .6em 1em;
                }
                &:after {
                    content: "";
                    position: absolute;
                    right: 15px;
                    top: 6px;
                    display: block;
                    height: 2em;
                    width: 2em;
                    background: url(../images/icon/icon_arrow_right.svg) no-repeat;
                    background-size: contain;
                    transform: rotate(-90deg);
                    filter: invert(.5);
                    pointer-events: none;
                }
                &.close {
                    &:after {
                        transform: rotate(90deg);
                    }
                }
            }
            .dropdown_content, .show_content {
                border: 3px solid #e7e7e7;
                border-top: none;
                margin: 0 0 1em;
                position: relative;
                .del_btn {
                    position: absolute;
                    right: 1em;
                    top: .5em;
                    border-radius: 4px;
                    padding: .2em .5em;
                    font-size: .813em;
                    border: 0;
                    background: $color-red;
                    transition: all .3s;
                    i:before {
                        margin-right: .2em;
                    }
                    &:hover {
                        background: darken($color-red, 20);
                    }
                }
                .apply_grp {
                    padding: 0 1em;
                    h5 {
                        font-size: 1.125em;
                        margin: 0em;
                        padding: .5em 0 .3em;
                        border-bottom: 1px solid #e7e7e7;
                    }
                }
                .info_grp {
                    padding: 0 1em;
                    h5 {
                        font-size: 1.125em;
                        margin: 0em;
                        padding: .5em 0 .3em;
                        border-bottom: 1px solid #e7e7e7;
                    }
                }
                .show_content {
                    .form {
                        table {
                            th, td {
                                &.first-child {
                                    width: 35%;
                                    color: #333 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        @at-root.discount {
            background: $color-orange;
            text-align: center;
            font-size: 1.5em;
            color: #fff;
            padding: .5em 1em;
            line-height: 1.5;
            margin: .5em 0;
            border-radius: 2px;
            margin-left: 140px;
            @include screen('mobile') {
                margin-left: 0;
            }
            p {
                margin: 0;
                font-family: 'CG Omega', 'Century Gothic';
            }
        }
        @at-root.file_list {
            ul {
                @include li-reset;
                li {
                    display: block;
                    background: #F1F1F1;
                    padding: .2em .5em;
                    margin-bottom: .2em;
                    position: relative;
                    a.delete {
                        position: absolute;
                        right: .3em;
                        top: .4em;
                        opacity: .5;
                        &:hover, &:focus {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .add_participant {
            // background: linear-gradient(to bottom, #f1f1f1, #fff);
            width: 100%;
            padding: .5em 1em;
            box-sizing: border-box;
            text-align: right;
            position: relative;
            button {
                //position: relative;
                background: $secondaryColor;
                border: 0;
                padding: .5em;
                transition: all .3s;
                border-radius: 50%;
                width: 4em;
                height: 4em;
                min-width: 1em;
                &:focus {
                    box-shadow: none;
                }
                &:hover {
                    background: darken($secondaryColor, 10);
                }
                i {
                    font-size: 2em;
                    &:before {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    .bill {
        table {
            th {
                text-align: center;
                &:first-child {
                    color: #333;
                    text-align: center;
                }
            }
            td {
                text-align: center;
                font-size: 150%;
                padding: 1em 0;
                @include screen('mobile') {
                    padding: .6em;
                    text-align: right;
                }
                time {
                    font-size: 75% !important;
                }
                &.price {
                    font-size: 250%;
                }
                span {
                    font-size: .75rem;
                    margin-right: 1em;
                }
            }
        }
    }
    table {
        color: $color-word;
        th {
            background: #fff;
            border: 0;
            border-bottom: 1px solid $color-dark;
            padding: .2em 1em;
            font-size: .938em;
            font-weight: bold;
            &:first-child {
                color: $form-focus;
                text-align: center;
            }
        }
        td {
            border: 0;
            border-bottom: 1px solid $color-gray;
            padding: .2em 1em;
            font-size: .938em;
            @include screen('xs_mobile') {
                padding: .2em;
                padding-left: 25% !important;
                &:before {
                    width: 20%;
                    top: .2em;
                    font-size: .938rem;
                }
            }
        }
        // input[type="checkbox"]{
        //     border:0;
        //     border-radius: 2px;
        // }
        .apply_check {
            text-align: center;
            @include screen('xs_mobile') {
                text-align: left;
            }
        }
        .describe {
            font-size: .813em;
            color: lighten($color-word, 20);
            // overflow:hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
            max-width: 500px;
            @include screen('tablet') {
                max-width: 350px;
                white-space: normal;
            }
            @include screen('mobile') {
                max-width: 300px;
            }
            @include screen('xs_mobile') {
                font-size: .938em;
                white-space: normal;
            }
        }
        .price {
            font-size: 1.375em;
            color: $color-red;
            font-weight: bold;
            white-space: nowrap;
            span {
                font-size: .75rem;
                color: lighten($color-word, 20);
            }
        }
        &.name {
            @include make-xs-column(12);
            @include make-sm-column(2);
            @include make-md-column(2);
            @include make-lg-column(2);
            @include gutter();
            td {
                font-size: 1.375em;
                font-weight: bold;
                border: 0;
                padding: .2em .5em;
            }
        }
        &.info {
            @include make-xs-column(12);
            @include make-sm-column(10);
            @include make-md-column(10);
            @include make-lg-column(10);
            @include gutter();
            button {}
        }
    }
}
.applicant_info {
    .info_table {
        margin-bottom: 60px;
        counter-reset: counter;
    }
    .table_list {
        overflow: hidden;
        th {
            color: $color-dark;
            text-align: left;
        }
        tr {
            @include screen('xs_mobile') {
                margin-bottom: 0;
            }
        }
        @include screen('mobile') {
            margin-bottom: 1em;
        }
        &+.table_list {
            thead {
                display: none;
                @include screen('mobile') {
                    display: table-header-group;
                }
            }
        }
        .name {
            thead {
                @include screen('mobile') {
                    display: none;
                }
            }
            td {
                &:before {
                    content: "";
                    counter-increment: counter;
                    content: counters(counter, ".")".";
                    font-size: 1em;
                }
                @include screen('mobile') {
                    padding: .5em;
                    border-bottom: 1px solid $color-dark;
                }
                @include screen('xs_mobile') {
                    background: #eee;
                }
            }
        }
        .info {
            .del {
                text-align: right;
                button {
                    background: inherit;
                    border: 0;
                    box-shadow: none;
                    padding: 0;
                    min-width: 1.5em;
                    &:hover, &:focus {
                        i:before {
                            opacity: 1;
                        }
                    }
                    i:before {
                        width: 1.2em;
                        height: 1.2em;
                        opacity: .5;
                        filter: invert(.5)
                    }
                }
            }
        }
    }
    .form_grp {
        text-align: right;
        font-size: .938em;
        @include screen('xs_mobile') {
            text-align: left;
        }
        label {
            padding: 0 .5em;
        }
        input[type="text"] {
            max-width: 240px;
            text-align: center;
        }
        .success {
            color: $color-green;
            border: 3px solid $color-green;
            background: url(../images/icon_check_green.png) left .5em center no-repeat;
            background-size: 20px;
        }
        .fail {
            color: $color-red;
            border: 3px solid $color-red;
        }
    }
    .total_cost {
        position: relative;
        background: darken($secondaryColor, 30);
        padding: 1em;
        margin: 2em 0;
        height: 110px;
        box-sizing: border-box;
        p {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: .938em;
            color: #fff;
            text-align: right;
            margin: 1em;
            span {
                font-size: 3.75em;
                padding: 0 .1em;
                letter-spacing: 2px;
            }
        }
    }
}
//=================apply_03=======================//
.sub_sec {
    padding-left: 140px;
    @include screen('tablet') {
        padding-left: 0;
    }
    p {
        font-size: .938em;
    }
    .completed_wrap {
        position: relative;
        background-position: center right;
        background-repeat: no-repeat;
        background-color: #FFF;
        background-size: contain;
        box-shadow: 0 0 8px rgba(0, 0, 0, .4);
        padding: 2em 270px 2em 2em;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 2px 12px -3px rgba(0, 0, 0, .3);
        border-radius: .3em;
        @include screen('mobile') {
            background: inherit;
            padding: 2em;
            background: none !important;
        }
        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            right: 390px;
            top: 0;
            width: 200px;
            height: 500px;
            background-color: #fff;
            transform-origin: bottom;
            transform: skewX(-20deg);
        }
        h3 {
            font-size: 1.625em;
            margin: 0 0 1em 0;
            padding-bottom: .5em;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                z-index: 20;
                left: 0;
                bottom: 0;
                width: 230px;
                height: 3px;
                background: $secondaryColor;
            }
            &:after {
                content: "";
                position: absolute;
                z-index: 10;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 3px;
                background: $color-gray;
            }
        }
        ul {
            list-style: none;
            @include screen('xs_mobile') {
                padding: 0;
            }
            li {
                p {
                    font-size: 1.375em;
                    margin: .5em 0;
                    line-height: 1.45;
                    span {
                        font-size: 1.125rem;
                        padding-left: .2em;
                    }
                }
                .title {
                    color: $secondaryColor;
                    font-size: 1em;
                }
            }
        }
        .calendar {
            margin: 1em 0;
            padding-left: 40px;
            @include screen('xs_mobile') {
                padding: 0;
            }
        }
    }
    .serial_num, .status {
        color: lighten($color-word, 10);
        font-size: 1.375em;
        span {
            color: $color-red;
        }
    }
    .ticket {
        position: relative;
        background: #f7f7f7;
        box-shadow: 0 5px 7px rgba(0, 0, 0, .3);
        padding: 1em;
        height: 155px;
        box-sizing: border-box;
        margin-bottom: 1.5em;
        p {
            font-size: 1.125em;
            color: lighten($color-word, 10);
            margin: .5em 0;
            .name {
                font-size: 1.626rem;
                color: $color-word;
                padding: 0 .2em 0 .5em;
            }
        }
        img {
            position: absolute;
            right: 1em;
            top: 1em;
            width: auto;
            height: calc(155px - 2em);
        }
        .download, .print {
            position: absolute;
            left: 30px;
            bottom: 1em;
            display: inline-block;
            width: 90px;
            padding: .2em;
            background: lighten($color-word, 40);
            color: #fff;
            text-align: center;
            font-size: .938em;
            &:hover {
                background: lighten($color-word, 20);
            }
            @include screen('xs_mobile') {
                bottom: 3.5em;
                display:none;
            }
        }
        .print {
            left: 140px;
            @include screen('xs_mobile') {
                bottom: 1em;
                left: 30px;
            }
        }
    }
    .precautions {
        overflow: hidden;
        background-color: #fff;
        line-height: 1.5;
        .title {
            width: auto;
            font-size: 1.375em;
            position: relative;
            padding-right: 30px;
            &:after {
                content: "";
                position: absolute;
                right: 15px;
                top: 50%;
                margin-top: -22px;
                width: 1px;
                height: 44px;
                background: #CCC;
                transform: rotate(20deg);
            }
            @include screen('xs_mobile') {
                display: inline-block;
                margin: 0;
            }
        }
        p {
            display: inline-block;
            max-width: calc(100% - 140px);
            vertical-align: middle;
            @include screen('xs_mobile') {
                display: block;
                max-width: 100%;
            }
        }
    }
    .grp_wrap {
        padding: .5em 0;
    }
    form {
        &.form_inline {
            .btn_grp {
                display: block;
                text-align: center;
                padding: 1em 0;
            }
        }
        input[type="text"] {
            width: 390px;
        }
        select {
            width: 180px;
        }
    }
    .form_content {
        font-size: .938em;
        color: lighten($color-word, 10);
    }
}
.note {
    font-size: .875em;
    color: #888;
    p,
    ul,
    ol {
        margin: .5em 0;
        line-height: 1.5;
    }
    strong {
        color: $color-word;
    }
    a {
        color: $color-red;
    }
}
.progress_bar {
    background: #DDD;
    border-radius: 3px;
    height: .5em;
    width: 100%;
    span {
        position: absolute;
        height: .5em;
        border-radius: 3px;
        background: $color-blue;
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
        background-size: 1em 1em;
        animation: progress-bar-stripes 1s linear infinite;
    }
}
@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}
.now_join {
    box-shadow: 0px 2px 12px -3px rgba(0, 0, 0, .3);
    border-radius: .3em;
    padding-bottom: 1.5em;
    text-align: left;
    padding: 1em;
    min-height: 20em;
    overflow: hidden;
    position: relative;
    padding-right: 40%;
    .btn_grp {
        text-align: left;
        position: relative;
        z-index: 2;
    }
    p {
        position: relative;
        z-index: 2;
        margin-left: .2em;
    }
    &:after {
        content: "";
        width: 40%;
        height: 100%;
        position: absolute;
        left: 60%;
        top: 0;
        background: url(../images/now_bg.jpg) right top no-repeat;
        background-size: cover;
        @include screen('mobile') {
            left: 30%;
            width: 70%;
        }
    }
    &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        left: 60%;
        top: 0;
        border-style: solid;
        border-width: 400px 200px 0 0;
        border-color: #FFF transparent transparent transparent;
        z-index: 1;
        @include screen('mobile') {
            left: 30%;
        }
    }
}
.result {
    ul {
        @include li-reset;
        li {
            position: relative;
            min-height: 4em;
            background: #F5F5F5;
            margin: 0px 0em 1em;
            overflow: hidden;
            padding: .8em;
            &:hover {
                h3 {
                    color: #FFF;
                    border-bottom: 1px solid #FFF;
                }
                .num {
                    color: #FFF;
                }
                p{
                    color:#FFF;
                }
                .keyword{
                    color:$color-yellow;
                }
                background:$secondaryColor;
            }
            @include screen('xs_mobile') {
                padding: 2.4em .5em 2em;
                h3 {
                    margin: 0 .5em .5em;
                    overflow: hidden;
                }
                p {
                    margin: 0 .8em;
                    overflow: hidden;
                }
                .pic {
                    float: right;
                    width: 75px;
                    margin: 0 auto 1em 1em;
                }
            }
        }
        .num {
            position: absolute;
            top: .8em;
            left: 1em;
            font-weight: bold;
            &:after {
                content: ".";
            }
        }
        .keyword {
            color: red;
            display: inline-block;
            margin: 0 .2em;
        }
        h3 {
            color: #333;
            line-height: 1.35em;
            font-size: 1.125em;
            margin: 0 0 .5em 30px;
            max-width: 700px;
            padding-bottom: .5em;
            overflow: hidden;
            font-weight: bold;
            border-bottom: 1px solid #555;
        }
        p {
            font-size: .813em;
            margin: 0 0 0 30px;
            max-width: 650px;
            overflow: hidden;
        }
        a {
            color: #666;
            &:hover, &:focus {
                color: #222;
            }
        }
        .pic {
            width: 120px;
            float: right;
            margin: 0 .5em .2em .5em;
            border: 1px solid #DDD;
            padding: 0;
            background: #FFF;
            img {
                width: 100%;
            }
        }
    }
}
.keyword {
    color: red;
}
.address{
    input[type="text"]:last-child{
        min-width:20em;
        @include screen('xs_mobile') {
            min-width:auto;
            width:100%;
        }
    }
}
